<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login Page</title>
        <link rel="stylesheet" href="/assets/style.css" />
    </head>

    <body class="login-body">
        <div class="login-container">
            <div class="form-box active" id="login-form">
                <form action="/login" method="POST">
                    <h2 class="login-tittle">Login</h2>
                    {% if errorsCredentials is defined %}
                    <div class="errorCredential">
                        {{ errorsCredentials }}
                    </div>
                    {% endif %}
                    <input class="login-input"
                        name="email"
                        placeholder="Email"
                        value="{% if input.email is defined %}{{
                            input.email
                        }}{% endif %}"
                    />
                    {% if errors.email is defined %}
                    <div class="error">
                        {{ errors.email }}
                    </div>
                    {% endif %}

                    <input class="login-input"
                        type="password"
                        name="password"
                        placeholder="Password"
                        value="{% if input.password is defined %}{{
                            input.password
                        }}{% endif %}"
                    />
                    {% if errors.password is defined %}
                    <div class="error">
                        {{ errors.password }}
                    </div>
                    {% endif %}
                    <button class="login-button" type="submit" name="Login">Login</button>
                </form>
            </div>
        </div>
    </body>
</html>
